.current__weather {
  background: var(---color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 4rem 0;
}

.current__photo {
  width: 12rem;
  display: block;
  margin: 0 auto;
}

.current__bg__image {
  background-image: url("../assets/Cloud-background.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(---color-bg);
  background-blend-mode: overlay;
  background-position: top;
  padding: 3rem 0 8rem 0;
  text-align: center;
}

.current__bg {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(---color-bg);
  background-blend-mode: overlay;
  background-position: top;
  padding: 3rem 0 8rem 0;
  text-align: center;
}

.current__degree {
  font-weight: 500;
  font-size: 144px;
  line-height: 169px;
}

.current__degree span {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: var(---color-secondary);
}

.current__condition {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(---color-secondary);
}

.current__otherdata {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #88869d;
  text-align: center;
}

.current__otherdata span {
  font-size: 2rem;
  margin-right: 0.5rem;
  vertical-align: bottom;
}

@media (min-width: 650px) {
  .current__weather {
    width: 30%;
  }
}
