.search {
  background-color: var(---color-bg);
  padding: 1.8rem 2% 4rem 2%;
}

.btn__close {
  display: block;
  text-align: right;
  font-size: 3rem;
  cursor: pointer;
}

form {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 4%;
  position: relative;
}

form span {
  position: absolute;
  left: 2%;
  top: 1.2rem;
  color: var(---color-primary);
}

form input {
  height: 4.8rem;
  font-size: 16px;
  line-height: 19px;
  width: 70%;
  border: 1px solid #e7e7eb;
  background-color: transparent;
  font-size: 16px;
  line-height: 19px;
  color: #616475;
  padding-left: 10%;
  outline: none;
}

form button {
  height: 4.8rem;
  font-size: 16px;
  line-height: 19px;
  background: #3c47e9;
  border: none;
  outline: none;
  color: #e7e7eb;
  width: 25%;
  cursor: pointer;
}

.search__item {
  font-size: 16px;
  line-height: 19px;
  padding: 2.2rem 1.2rem;
  cursor: pointer;
}

.search__item + .search__item {
  margin-top: 1rem;
}

.search__item span {
  font-size: 2rem;
  vertical-align: middle;
  float: right;
  opacity: 0;
}

.search__item:hover {
  border: 1px solid #616475;
}

.search__item:hover span {
  font-size: 2rem;
  vertical-align: middle;
  float: right;
  opacity: 1;
}

@media (max-width: 650px) {
  .search {
    height: 100vh;
  }
}

@media (min-width: 650px) {
  .search {
    width: 30%;
  }
}
