.weather__details {
  background: #100e1d;
  padding: 5rem 5% 2rem 5%;
}

.footer__owner {
  font-size: 14px;
  margin-top: 5rem;
  line-height: 17px;
  text-align: center;
  color: #a09fb1;
}

.footer__owner a {
  color: inherit;
}

@media (max-width: 650px) {
  .hideInMobile {
    display: none;
  }
}

@media (min-width: 650px) {
  .weathers {
    display: flex;
  }

  .weather__details {
    width: 70%;
  }
}
